.container_galery {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 30px solid red;
  border-radius: 50px;
  gap: 30px;
}
.container_galery .img1 {
  border-radius: 60px;
}
.container_galery .img1:hover {
  transform: scale(1.05);
}

main {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
main ul {
  justify-content: center;
  align-items: center;
}
main ul li {
  font-size: 30px;
  align-items: center;
}

a {
  text-decoration: none;
}

.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.form-control {
  background-color: #8e8e8e;
  color : red;
}

body {
  background-color: black;
  color: #dc1717;
}

header {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-hesitate both infinite;
}
@keyframes circle-in-hesitate {
  0% {
    -webkit-clip-path: circle(0%);
    clip-path: circle(0%);
    background-color: aqua;
  }
  40% {
    -webkit-clip-path: circle(40%);
    clip-path: circle(40%);
    background-color: brown;
  }
  100% {
    -webkit-clip-path: circle(125%);
    clip-path: circle(125%);
    background-color: darkorchid;
  }
}
header [transition-style="in:circle:hesitate"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-hesitate both infinite;
}

.footer_p {
  font-size: 20px;
  text-align: center;
  background: black;
  color: #dc1717;
}

* {
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

p {
  font-size: 30px;
}

.form-text {
  color: red;
}
