main {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;

  ul {
    justify-content: center;
    align-items: center;

    li {
      font-size: 30px;
      align-items: center;
    }
  }
}
a {
  text-decoration: none;
}
.img1 {
  @include image-center;
}
.form-control {
  background-color: red;
}
